.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 32px;
}
.form{
    height: 640px;
    width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.reg{
    transition: 0.3s;
}
.reg:hover {
    cursor: pointer;
    color: #9999;
}
.log{
    transition: 0.3s;
}
.log:hover{
   cursor: pointer;
    color: #9999;
}
