@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #D9D5CF;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: black;
}
